.add-button {
  button {
    font-size: 2em;
  }

  .edit-menu-item {
    font-size: 1.2em;
  }

  .add-type-menu {
    width: 60%;
    padding: 10px
  }
  
}

.board-selector {
  border-radius: 20px !important;
}

.edit-menu-card {
  min-width: 100px !important;
}

.edit-menu-item {
  cursor: pointer;
}

.edit-menu-item:hover {
  color: grey;
}