@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: grey;
}

.hide {
  display: none;
}

#header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#content {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.hovering {
  background-color:lightgray;
}