@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: grey;
}

.hide {
  display: none;
}

#header {
  width: 100vw;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

#content {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.hovering {
  background-color:lightgray;
}

.avatar-l {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-left: calc((100% - 120px)/2);
}

.avatar-s {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  // margin-left: calc((100% - 120px)/2);
}

.avatar-mini {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}

.header-chunk {
  margin-left: 45%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid red;
}

.header-text {
  font-size: x-large;
  font-weight: bold;
}