.site-logo {
  margin-right: 20px;
}

.site-title {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1.2em;
  color: darkred;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1em !important;
}

.nav-link:hover {
  color: darkred !important;
}